:javascript
  (function() {
    var Slideshot;

    Slideshot = (function() {
      function Slideshot() {
        this.thumbs_scroll = $('#thumbs .scroll');
        if (this.thumbs_scroll.size() > 0) {
          this.current_slide = null;
          this.setup_slides();
          this.cuezones = this.setup_cuezones();
          this.current_cuezone = this.cuezones[0];
          this.player_ready = false;
          this.player_started = false;
          $('#player').mediaelementplayer({
            success: (function(_this) {
              return function(media, node, player) {
                return _this.setup_player(media);
              };
            })(this)
          });
        } else {
          $('#player').mediaelementplayer();
        }
      }

      Slideshot.prototype.setup_slides = function() {
        this.carousel = $('#slides-carousel').carousel({
          interval: false
        });
        this.carousel.on({
          'slid.bs.carousel': (function(_this) {
            return function() {
              return _this.preload_slides();
            };
          })(this)
        });
        return $("#thumbs a img").click((function(_this) {
          return function(e) {
            return _this.on_thmb_click(e);
          };
        })(this));
      };

      Slideshot.prototype.setup_cuezones = function() {
        var cz, i;
        cz = [];
        $('#thumbs a').each((function(_this) {
          return function(index, element) {
            var at, sid;
            sid = $(element).data("sid");
            at = $(element).data("at") / 1000.0;
            return cz.push({
              id: "cz" + sid,
              sid: sid,
              from: at
            });
          };
        })(this));
        i = cz.length - 1;
        cz[i]['to'] = -1;
        while (i > 0) {
          cz[i - 1]['to'] = cz[i]['from'];
          i = i - 1;
        }
        return cz;
      };

      Slideshot.prototype.setup_player = function(media) {
        this.player = media;
        this.player_ready = true;
        this.player.addEventListener('timeupdate', (function(_this) {
          return function(e) {
            return _this.on_player_timeupdate();
          };
        })(this));
        this.goto_slide(0);
        this.player.play();
      };

      Slideshot.prototype.on_player_timeupdate = function() {
        var t;
        t = this.player.currentTime;
        if (t < this.current_cuezone['from'] || this.current_cuezone['to'] > 0 && t >= this.current_cuezone['to']) {
          this.current_cuezone = this.sgama_cuezone(t);
          this.goto_slide(this.current_cuezone['sid']);
        }
      };

      Slideshot.prototype.sgama_cuezone = function(t) {
        var c, next_zone, _ref;
        if ((t >= (_ref = this.current_cuezone['to']) && _ref > 0) && this.current_cuezone['to']) {
          c = next_zone = this.cuezones[this.current_cuezone['sid'] + 1];
          if (t < next_zone['to'] || next_zone['to'] < 0) {
            return next_zone;
          }
        }
        c = this.cuezones.length - 1;
        while (c > 0 && t < this.cuezones[c]['from']) {
          c = c - 1;
        }
        return this.cuezones[c];
      };

      Slideshot.prototype.on_thmb_click = function(e) {
        var sid, target;
        e.preventDefault();
        target = $(e.target).parent();
        sid = target.data("sid");
        if (sid !== this.current_cuezone['sid']) {
          this.current_cuezone = this.cuezones[sid];
          this.goto_slide(sid);
          if (this.player_ready) {
            this.player.setCurrentTime(this.current_cuezone['from']);
          }
        }
        return false;
      };

      Slideshot.prototype.goto_slide = function(sid) {
        this.activate_thumb(sid);
        return this.carousel.carousel(sid);
      };

      Slideshot.prototype.activate_thumb = function(sid) {
        var e;
        $('#thumbs .active').removeClass('active');
        e = $('#thmb_' + sid);
        e.addClass('active');
        return this.scroll_to_center(this.thumbs_scroll, e);
      };

      Slideshot.prototype.scroll_to_center = function(s, e) {
        var x;
        x = e.offset().left - s.offset().left;
        if (x < 0 || x > s.width()) {
          return s[0].scrollLeft = s[0].scrollLeft + x - s.width() / 2 + e.width() / 2;
        }
      };

      Slideshot.prototype.preload_slides = function() {
        var img, next_img, prev_img;
        img = $('.active img', this.carousel);
        img.attr("src", img.data('lazy-load-src'));
        next_img = img.parent().next().find('img');
        next_img.attr("src", next_img.data('lazy-load-src'));
        prev_img = img.parent().prev().find('img');
        return prev_img.attr("src", prev_img.data('lazy-load-src'));
      };

      return Slideshot;

    })();

    window.Slideshot = Slideshot;

  }).call(this);

  $(document).on('ready page:load', function() {
    alert("ok ci siamo");
  var slideshot;
  if ($('body.slideshots').length > 0) {
    return slideshot = new Slideshot();
  }
  });

