%video#lbplayer{style: "width:100%; height:100%;", width: "1280", height: "720"}
  - case @talk.video_player
  - when "youtube"
    %source{type: "video/youtube",  src: @talk.youtube_url, title: 'video'}
  - when "local"
    %source{type: "application/x-mpegURL", src: @talk.local_video.url(:hls), title: "m3u8 hls playlist"}
    %source{type: "video/mp4",  src: @talk.local_video.url(:mp4), title: 'mp4 video version of the talk'}
    %source{type: "video/webm", src: @talk.local_video.url(:webm), title: 'webm video version of the talk'}
  - when "legacy"
    %source{type: "video/mp4",  src: video_url(@talk, "mp4"), title: 'mp4 video version of the talk'}
    %source{type: "video/webm", src: video_url(@talk, "webm"), title: 'webm video version of the talk'}
    %source{type: "video/ogg",  src: video_url(@talk, "ogg"), title: 'ogg video version of the talk'}

