%div{class: (slide_counter == 0 ? "item active" : "item")}
  - if slide_counter < 3
    =image_tag(slide.image.full.url, width: 600, height: 450)
  - else
    %img{width: 600, height: 450, data: {'lazy-load-src' => slide.image.full.url, sid: slide.id, id: slide_counter}}
