
= content_for :title do
  Watching #{@talk.speaker} / #{tronca(@talk.title, 32)}

.row
  .col-md-5
    #meta
      %h3=@talk.speaker
      %h4
        =@talk.title
        %br
        %small=@talk.subtitle

      -if @talk.event
        %h5=link_to @talk.event.nickname, @talk.event
    #video
      =render :partial=>"player"
  .col-md-7
    #slides-carousel.carousel.slide.carousel-fade
      -#%ol.carousel-indicators
        %li.active{data: {target: '#feature-carousel', 'slide-to' => 0}}
        - 1.upto(@featured.size-1) do |i|
          %li{data: {target: '#feature-carousel', 'slide-to' => i}}
      .carousel-inner
        - if @talk.noslides?
          = render :partial => "noslide"
        - else
          = render :partial => "slide", :collection => @slides
      -#%a{class: 'left carousel-control', href: '#slides-carousel', data: {slide: 'prev'}}
        %span.icon-prev
      -#%a{class: 'right carousel-control', href: '#slides-carousel', data: {slide: 'next'}}
        %span.icon-next

-# unless @talk.noslides
  .row
    .col-md-12
      #thumbs
        .scroll
          = render partial: "thmb", collection: @slides, as: 'slide'

  %p{style: 'margin-top: 2em; color: #999;'}
    Click on a slide to jump to that slide. Scroll to see all the slide thumbnails.

= render partial: "js"