#talk{class: "d-flex flex-row p-2 gap-3"}
  .immagine= large_image_for_talk(@talk)
  .media-body
    %h2.media-heading
      =@talk.title
      %br
      %small=@talk.subtitle
    %h4=@talk.speaker
    %p
      Recorded
      = @talk.date.strftime("%d %B %Y")
      in #{@talk.location.locality}, #{@talk.location.region}, #{@talk.location.country}
    - if @talk.event and @embed.nil?
      %p
        - if @talk.lecture
          %b Course:
          = link_to @talk.event.title, @talk.event
        -else
          %b Event:
          = link_to @talk.event.nickname, @talk.event
          - if @talk.event.title.present?
            \- #{@talk.event.title}

    - if @talk.abstract.present?
      %h4 Abstract
      .abstract
        = render_markdown @talk.abstract
    %p.pull-right Watched #{@talk.plays_count || 0} times.
    - if @embed
      =button_to_play_for_embed(@talk)
    - else
      =button_to_play(@talk)
