%li{class: "talk card p-1"}
  .row
    %div{class: "col-md-9 d-flex flex-row p-2"}
      %div{class: "immagine d-flex align-items-center justify-content-center"}
        %a{href:'#'}= med_image_for_talk(talk)
      .media-body
        %h4=talk.speaker
        %h5.media-heading=talk.title
        %h6=talk.subtitle
        %div{class: "btn-group btn-group-sm", role: "group"}
          = link_to play_with_icon, play_slideshot_path(talk.nick_or_id), class: "btn btn-outline-primary"
          = link_to show_with_icon, talk_path(talk), class: "btn btn-outline-primary"
          - unless talk.event.nil? or noevent||=false
            =link_to index_with_icon("Event Page"), event_path(talk.event), class: "btn btn-outline-primary"
    .col-md-3
      - unless talk.event.nil? or noevent||=false
        %p
          =link_to talk.event.nickname, talk.event
      =time_tag talk.date
      -#
        %br
        =talk.location.locality
        \-
        =talk.location.country
      %br
      Watched #{talk.plays_count||0} times.
