= content_title(@lecture ? "Lectures" : "Seminars")

= will_paginate @talks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

%ul{class: "talk_listing list-unstyled d-grid gap-3"}
  =render partial: "talk", collection: @talks

= will_paginate @talks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
