%li{class: "talk card p-1"}
  .row
    %div{class: "col-md-6 d-flex flex-row p-2"}
      %div{class: "immagine piccola d-flex align-items-center justify-content-center"}
        %a{href: event_path(event), class:"float-start"}
          = med_image_for_event(event)
      .media-body
        %h4=link_to event.nick, event_path(event), class: "text-reset"
        %p=event.title || "-"
        -#.btn-group.btn-group
          =link_to show_with_icon("Details"), event_path(event), class: 'btn btn-default btn-xs'
        %p
          = event.talks.count
          = event.course? ? "lectures" : "talks"
    .col-md-6
      - if event.description.present?
        .well.short_description
          =render_markdown(truncate(event.description, length: 300))
