= content_for :title do
  #{@event.nick} - event details

%ul.talk_listing.list-unstyled
  - @talks.each do |talk|
    %li.talk
      .well
        .row
          .col-md-9
            .media
              %a{href:'#', class:"float-start"}
                .immagine
                  = med_image_for_talk(talk)
              .media-body
                %h4=talk.speaker
                %h5.media-heading=talk.title
                %h6=talk.subtitle
                .btn-group.btn-group
                  = button_to_play_for_embed(talk, t="Watch")
                  -#= button_to_play(talk, t="Watch")
                  -# = link_to play_with_icon("watch"), play_slideshot_url(talk.nick_or_id),  target: "_parent", class: "btn btn-default btn-xs"
                  = link_to show_with_icon, talk_path(talk, :embed=>true), remote: true, class: 'btn btn-default btn-xs toajaxmodal', role: "button"
          .col-md-3
            =time_tag talk.date
            -#
              %br
              =talk.location.locality
              \-
              =talk.location.country
            %br
            Watched #{talk.plays_count||0} times.
