= content_title "Events"

= will_paginate @talks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer


%ul{class: "talk_listing list-unstyled d-grid gap-3"}
  =render partial: "event", collection: @events

= will_paginate @talks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
