= content_for :title do
  #{@event.nick} - event details


%div{class: "d-flex flex-row p-2 gap-3", id: "event"}
  .immagine
    =image_tag @event.image.large.url, class:"media-object img-rounded", width: "240"
  .media-body
    %h2.media-heading
      = @event.nick
      %br
      %small=@event.title
    %h4=@event.subtitle
    - if @event.description.present?
      .well=render_markdown @event.description

%h3= @event.course ? "Lectures" : "Seminars"
%ul{class: "talk_listing list-unstyled d-grid gap-3"}
  =render partial: "talks/talk", collection: @talks, locals: {:noevent => true}



