%div{class: "flowplayer player", data: {volumeLevel: "0.0", engine: "flash", rtmp: @talk.rtmpserver, cuepoints: flow_cuepoints(@talk)}}
  %video{autoplay: true}
    %source{type: 'rtmp/mp4', src: @talk.rtmp}
