// ------------------------------------------------------------ Bootstrap Tweaks
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      //@include transition(opacity 0.4s linear);
    }

    .active {
      opacity: 1;
    }

    .active.left, .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left, .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


/* ------------------------------------------------------------ Sticky footer */
/* http://twitter.github.io/bootstrap/examples/sticky-footer.html */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -80px;
}
/* Set the fixed height of the footer here */
#push, #footer {
  height: 80px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #foot {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* ------------------------------------------------------------ Sticky footer */sd

#head, #foot {
  background-color: #333;
  background-image: image-url('css/noise_texture.png');
  color: #fff;
}
#foot {
}

.navbar {
  .navbar-header {
    .navbar-brand {
      padding-left: 80px;
      background: image-url('logo64.png') no-repeat center left;
      a {
        color: #fff;
      }
    }
  }
}

body.slideshots {
  background-color: #333;
  background-image: image-url('css/noise_texture.png');
  #main {
    color: #fff;
    // margin: 1em 0;
    .container {
      padding-top: 1em;
      background-color: #444;
    }
  }
  #thumbs {
    background-color: #000;
    margin: 0;
    margin-top: 2em;
    //margin-bottom: 200px;
    width: 100%;
    padding: 4px;
    .scroll {
      white-space: nowrap;
      width: 100%;
      padding: 0;
      overflow-x: auto;
      img {
        display: inline;
        width: 132px;
        height: 100px;
        border: 2px solid #000;
      }
      img.active {
        border: 2px solid #ff0;
      }
    }
  }


}

/* ---------------------------------------------------------------- _featured */
body.home {
  #featured {
    background-color: #666;
    color: #fff;
    // .carousel {
    //   border-top: 1px solid #fff;
    // }
    // .carousel {
    //   border: 1px solid #039;
    // }
    h2 {
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 1px;
    }
    .details {
      a, h3, h4, h5 {
        text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0px;
      }
      h3 {
        margin-top: 0;
      }
      img {
        margin: 0 auto 0.5em auto;
        max-width: 240px;
        max-height: 250px;
      }
      .meta {
        margin-bottom: 0.5em;
        background-color: inherit;
        height: 250px;
        overflow-y: auto;
      }
    }
    .carousel-control.right, .carousel-control.left {
      width: 50px;
      background: none;
    }
    .carousel-control.right:hover, .carousel-control.left:hover {
      background-color: rgba(255,255,255,0.2);
    }
    .item {
      min-height:240px;
      padding: 1em 50px 60px 50px;
      // padding: 1em 100px 50px 100px;
      // margin-bottom: 100px;
    }
  }
  #main {
    margin-top: 1em;
  }
}

body.manual_sync {
  #spiega {
    margin: 2em 0;
  }
  #buttons {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #slideselect {
    // background-color: #333;
    padding: 20px 20px;
    margin-bottom: 1em;
    // border: 1px solid #ccc;
    height: 600px;
    overflow: auto;
    li.thumbnail {
      padding: 10px;
      background-color: #999;
      &.thumbnail-ready {
        background-color: #393;
      }
      &:hover {
        margin-left: -10px;
      }
      &.thumbnail-selected, &.thumbnail-selected:hover {
        background-color: rgb(240, 173, 78);
        margin-left: -20px;
      }
      .caption {
        font-size: 80%;
        text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0px;
      }
    }
  }
  #slideform {
    form {
      margin: 1em 0;
    }
  }
}

/* ------------------------------------------------------------- Forms */
.legend > form-group {
  margin-top: 100px;
}
/* ------------------------------------------------------------- Table sorter */
.table {
  th.right, td.right {
    text-align: right;
  }
}
.table.sortable thead tr {
  .header {
    background-image: image-url("css/table_unsorted.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width: 30px;
    padding-right: 30px;
  }
  .headerSortUp {
    background-image: image-url("css/table_asc.gif");
  }
  .headerSortDown {
    background-image: image-url("css/table_desc.gif");
  }
}

/* -------------------------------------------------------------- _talk _event*/
li.talk, li.event {
 .immagine {
    width: 120px;
    margin-right: 1em;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .immagine.piccola {
    width: 96px;
    img {
      max-width: 96px;
      max-height: 130px;
    }
  }
  h4 {
    margin-top: 0;
    a {
      color: inherit;
    }
  }
}


li.talk.card {
  margin-bottom: 1em;
}

li.event {
  margin-bottom: 2em;
  padding: 0.5em;
  background-color: #eee;
}

#talkslides, #trash {
  .thumbnail {
    min-height: 220px;
    margin-bottom: 1em;
    img {
      border: 1px solid #999;
    }
  }
  .btn {
    margin-bottom: 1em;
  }
}

.short_description {
  height: 10em;
  overflow: hidden;
}
/* --------------------------------------------------------------- talks/show */
#talk_actions {
  .btn-group {
    margin-top: 0.5em;
  }
}

/* ------------------------------------------------------- talks/video_upload */
#fileuploader {
  .ajax-upload-dragdrop {
    span {
      margin-left: 2em;
    }
  }
}

/* --------------------------------------------------------------- talks/sync */

#syncform {
  #spiega {
    padding-top: 2em;
  }
  .form-actions {
    padding-top: 1.7em;
  }
  #slideselect {
    background-color: #333;
    padding: 20px;
    padding-right: 40px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    height: 600px;
    overflow: auto;
  }
}

/*--------------------------------------------------------------------------- */
/* -------------- This should go in bootstrap_and_overrides when it will work */
.form-horizontal {
  // .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline {
  //   padding-top: 0;
  //   min-height: 0;
  // }
  input[type="radio"], input[type="checkbox"] {
    margin: -0.5em 0 0;
  }
  select.date{
    width: auto;
    float: left;
  }
}

// *= require_tree .
// *= require bootstrap_and_overrides


// .content {
//   background-color: #eee;
//   padding: 20px;
//   margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
//   -webkit-border-radius: 0 0 6px 6px;
//   -moz-border-radius: 0 0 6px 6px;
//   border-radius: 0 0 6px 6px;
//   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//   box-shadow: 0 1px 2px rgba(0,0,0,.15);
// }




/*--------------------------------------------------------------------------- */
p.help-block {
  text-align: right;
  font-size: 75%;
  margin-top: -1em;
}



#markdown {
  width: 800px;
  margin-left: -400px;
}
