#ajaxmodal{class: "modal fade container", tabindex: "-1", data: {keyboard: true}}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3.modal-title Loading
  .modal-body
    .modal-body-content
    .ajax-loader
  .modal-footer
    %button.btn{"data-dismiss" => "modal", :type => "button"} Close
