%footer{class: "bg-dark text-center text-white"}
  .container
    .content
      %p
        =image_tag "logo64.png", height: 64
        =link_to 'Slideshot', root_path
        \&copy; 2010-#{Time.now.year}
        =link_to "Giovanni Cangiani", 'mailto:giovanni.cangiani@epfl.ch'
