%header{class: "navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"}
  =link_to "Slideshot", root_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3"
  .navbar-nav
    %ul.nav.nav-pills
      %li.nav-item=link_to "Events", events_path, class: "nav-link px-3"
      %li.nav-item=link_to "Seminars", talks_path, class: "nav-link px-3"
      %li.nav-item=link_to "Lectures", lectures_path, class: "nav-link px-3"



