!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? Rails.configuration.app[:site][:name_viewer] + ": " + yield(:title) : "#{Rails.configuration.app[:site][:name_viewer]}: #{controller_name} - #{action_name}"
    %meta{:content => content_for?(:description) ? yield(:description) : "#{Rails.configuration.app[:site][:name_viewer]}: #{controller_name} - #{action_name}", :name => "description"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

    = yield(:head)
    = csrf_meta_tags
    -# moved to rack middleware in config/environments/production.rb
      - if Rails.env.production?
        :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '#{Rails.configuration.app[:ga][:key]}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
  %body{:class => "#{controller_name} #{action_name}"}
    =render 'layouts/nav'
    %main.container
      - if content_for?(:motto)
        %header.container
          .content
            = yield(:motto)
      - if content_for(:featured)
        #featured.hidden-xs
          .container
            = yield(:featured)
      #main.container{:role => "main"}
        .content
          = render 'layouts/messages'
          = yield
      #push
    =render 'layouts/footer'
    -#=render 'layouts/ajaxmodal'
